<%= form_for(@car) do |car_form| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= car_form.label 'Car title' %><br>
    <%= car_form.text_field :title %>
  </div>

  <table>
    <%= car_form.fields_for :garages do |garage_form| %>
      <tr>
        <td>
          <div class="field">
            <%= garage_form.label 'Garage title' %><br>
            <%= garage_form.text_field :title %>
          </div>
        </td>

        <td>
          <div class="field">
            <%= garage_form.check_box :_destroy %>
            <%= garage_form.label :_destroy, "Remove" %>
          </div>
        </td>

        <%= garage_form.fields_for :house do |house_form| %>

          <td>
            <div class="field">
              <%= house_form.label 'House title' %><br>
              <%= house_form.text_field :title %>
            </div>
          </td>

        <% end %>

      </tr>

    <% end %>

  </table>

  <div class="actions">
    <%= car_form.submit %>
  </div>

<% end %>
